# Default ignored files
/../../../:зфньуте ище/.idea/shelf/
/../../../:зфньуте ище/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:зфньуте ище/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:зфньуте ище/.idea/dataSources/
/../../../:зфньуте ище/.idea/dataSources.local.xml
